{# Questo file estende il tema base di Material, aggiungendo la nostra logica #}
{% extends "main.html" %}

{# Sovrascriviamo il blocco del contenuto #}
{% block content %}
  
  {# Prima di tutto, includiamo il contenuto scritto nel file index.md #}
  {{ super() }}

  {# Ora, aggiungiamo il nostro layout a card personalizzato #}
  <div class="grid cards" markdown>
    
    <ul>
      
      <li>
        <a href="/python/" class="md-card">
          <div class="md-card__title">
            <div class="md-card__icon">
              <span class="twemoji">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 3L1 9l11 6 9-4.91V17h2V9L12 3m0 8.47L4.42 8 12 4.47 19.58 8 12 11.47z"/></svg>
              </span>
            </div>
            <div class="md-card__text">
              Python per il Calcolo Scientifico
            </div>
          </div>
          <div class="md-card__content">
            Un corso completo dalle basi di Python alle librerie fondamentali come NumPy, Pandas e Matplotlib.
          </div>
        </a>
      </li>

      <li>
        <a href="/informatica/" class="md-card">
          <div class="md-card__title">
            <div class="md-card__icon">
              <span class="twemoji">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 3L1 9l11 6 9-4.91V17h2V9L12 3m0 8.47L4.42 8 12 4.47 19.58 8 12 11.47z"/></svg>
              </span>
            </div>
            <div class="md-card__text">
              Fondamenti di Informatica
            </div>
          </div>
          <div class="md-card__content">
            Le basi teoriche dell'informatica: algoritmi, strutture dati, complessità e paradigmi di programmazione.
          </div>
        </a>
      </li>

      <li>
        <a href="/ing-software/" class="md-card">
          <div class="md-card__title">
            <div class="md-card__icon">
              <span class="twemoji">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 3L1 9l11 6 9-4.91V17h2V9L12 3m0 8.47L4.42 8 12 4.47 19.58 8 12 11.47z"/></svg>
              </span>
            </div>
            <div class="md-card__text">
              Ingegneria del Software
            </div>
          </div>
          <div class="md-card__content">
            Impara i processi, i metodi e gli strumenti per progettare, sviluppare e mantenere sistemi software di alta qualità.
          </div>
        </a>
      </li>

    </ul>
  </div>

{% endblock %}